.ContactForm{
    margin: 50px;
}
textarea{
    resize: none;
    width: 340px;
    height: 100px;
}

.Send:hover{
    text-decoration: underline;
    text-decoration-color: white;
}
textarea:focus{
    outline: none;
}
.input:focus{
    outline: none;
}