button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: black;
    height: min-content;
    width: min-content;
    color: white;
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 1rem;
    cursor: pointer;
    font-family: Arial, Tahoma, serif;
}
.button:hover {
    text-decoration: underline;
}