.Newsletter {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.Send:hover {
    text-decoration: underline;
    text-decoration-color: white;
}
.input:focus{
    outline: none;
}